<!DOCTYPE html>
{% extends "capacity_app/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block content %}
    <title>Project View Plan</title>
    <link href="{% static 'capacity_app/table_extensions/fontawesome-free-5.15.1/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'capacity_app/table_extensions/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'capacity_app/table_extensions/assets/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'capacity_app/table_extensions/assets/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'capacity_app/table_extensions/assets/extensions/filter-control/bootstrap-table-filter-control.css' %}" rel="stylesheet">
    <link href="{% static 'capacity_app/table_extensions/assets/extensions/filter-control/bootstrap-table-filter-control.min.css' %}" rel="stylesheet">
    <!-- progress bar -->
    <style>
.bootstrap-table .fixed-table-toolbar .columns-right {
    float: right;
}
.bootstrap-table .fixed-table-pagination > .pagination {
    float:right;
}
td {
    white-space: nowrap;
}
form {
    font-size:14px;
}
.form-select {
    font-size:14px;
    height: 40px;
}
input[type="number"] {
    font-size:14px;
    height: 40px;
}
input[type="text"] {
    font-size:14px;
    height: 40px;
}
ul {
    padding-right:2rem;
    padding-left: 2rem;
}
.container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.progressbar li {
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    list-style: none;
}

.progressbar {
    counter-reset: step;
}

.progressbar li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    width: 30px;
    height: 30px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #bebebe;
    text-align: center;
    font-weight: bold;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #979797;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:after {
    background: #3aac5d;
}

.progressbar li.active:before {
    border-color: #3aac5d;
    background: #3aac5d;
    color: white
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
thead {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
tbody {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
.card-view {
    height:30px;
}
</style>
<body>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% if "admin" not in user_group %}
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#components-nav1" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i>
                <span>Project Planner</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav1" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <!--<li>
                    <a href="{% url 'project_create_request' %}">
                        <i class="bi bi-circle"></i><span>Create Project Request</span>
                    </a>
                </li>-->

                <li>
                    <a href="{% url 'project_view_request' %}"  class="active">
                        <i class="bi bi-circle"></i><span>View Project Plan</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->
        {% endif %}

        {% if query_data %}
        <li class="nav-heading">Capacity - Alpha4</li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i>
                <span>Request - Alpha4</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% if user_group != "admin" %}
                <li>
                    <a href="{% url 'create_request' %}">
                        <i class="bi bi-circle"></i><span>Create Request</span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'view_request' %}">
                        <i class="bi bi-circle"></i><span>View Request</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'completed_ticket_data' %}">
                        <i class="bi bi-circle"></i><span>Completed Request</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->
        {% endif %}
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Project View Plan</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Project Planner</li>
                <li class="breadcrumb-item">Project View Plan</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="container">
                            <ul class="progressbar">
                                <li class="active">Request Created</li>

                                {% if data.0.financial_approval == True %}
                                <li class="active">Finance Approval</li>
                                {% else %}
                                <li>Finance Approval</li>
                                {% endif %}

                                {% if data.0.procurement_approval == True %}
                                <li class="active">Procurement Approval</li>
                                {% else %}
                                <li>Procurement Approval</li>
                                {% endif %}

                                {% if data.0.floor_manager_approval == True %}
                                <li class="active">Floor Manager Approval</li>
                                {% else %}
                                <li>Floor Manager Approval</li>
                                {% endif %}

                                {% if data.0.procurement_approval == True and data.0.financial_approval == True  and data.0.floor_manager_approval == True %}
                                <li class="active">Request Completed</li>
                                {% else %}
                                <li>Request Completed</li>
                                {% endif %}
                            </ul>
                        </div>
                        <!--<br><br><br><br><br><br>
                        <div class="progress">
                            <div class="progress-bar"
                                 style="width: 25%;">
                                50%
                            </div>

                            <div class="progress-bar bg-success"
                                 style="width: 25%;">
                                25%
                            </div>

                            <div class="progress-bar bg-warning"
                                 style="width: 25%;">
                                10%
                            </div>

                            <div class="progress-bar bg-danger"
                                 style="width: 25%;">
                                5%
                            </div>
                        </div>-->
                        <br><br><br><br>
                        <!-- progress bar end -->
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Request Id - </label>
                                    <td nowrap class="id">
                                         <a href="{% url 'history_request' %}" style="text-decoration:underline;">{{data.0.request_id}}</a>
                                    </td>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="dc" class="form-label">Region</label>
                                    <input type="text" id="dc" class="form-control" name="dc" value="{{data.0.data_center}}" readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="project" class="form-label">Project</label>
                                    <input type="text" id="project" class="form-control" name="project" value="{{data.0.project_name}}" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="user_id" class="form-label">User ID</label>
                                    <input type="text" class="form-control" id="user_id" name="user_id" value="{{data.0.user_name}}" readonly>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="std_stable1" class="form-label">Std Stable1 (TB)</label>
                                    <input type="number" class="form-control" id="std_stable1" name="std_stable1" min="0" max="500" value="{{data.0.std_stable1}}"  readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="std_stable2" class="form-label">Std Stable2 (TB)</label>
                                    <input type="number" class="form-control" id="std_stable2" name="std_stable2" min="0" max="500" value="{{data.0.std_stable2}}" readonly>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="std_arbor" class="form-label">Std Arbor (TB)</label>
                                    <input type="number" class="form-control" id="std_arbor" name="std_arbor" min="0" max="500" value="{{data.0.std_arbor|floatformat}}" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="stable1" class="form-label">Stable1 (TB)</label>
                                    <input type="number" class="form-control" id="stable1" name="stable1" min="0" max="500" value="{{data.0.stable1}}" readonly>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="stable2" class="form-label">Stable2 (TB)</label>
                                    <input type="number" class="form-control" id="stable2" name="stable2" min="0" max="500" value="{{data.0.stable2}}" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="arbor" class="form-label">Arbor (TB)</label>
                                    <input type="number" class="form-control" id="arbor" name="arbor" min="0" max="500" value="{{data.0.arbor|floatformat}}" readonly>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="gravit" class="form-label">Gravit (TB)</label>
                                    <input type="number" class="form-control" id="gravit" name="gravit" min="0" max="500" value="{{data.0.gravit|floatformat}}" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="remarks" class="form-label">Remarks</label>
                                    <textarea id="remarks" maxlength="256" rows="4" cols="50" class="form-control" name="remarks" readonly>{{data.0.remarks}}</textarea>
                                </div>
                                <!--<label class="form-label">Milestone</label>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <p class="form-control" readonly>{{data.0.milestone_name}}</p>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <p class="form-control" readonly>{{data.0.date}}</p>
                                    </div>
                                </div>-->
                                <div class="mb-3 col-md-6">
                                    <label class="form-label">Milestones</label>
                                    <table class="table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Milestone</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in mile_stone %}
                                        <tr>
                                            <td>{{i.name}}</td>
                                            <td>{{i.date}}</td>
                                            {% endfor %}
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            {% if data.0.procurement_approval == True and data.0.financial_approval == True and "User_Group_Project_Planner" in user_group %}
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" title="Edit Request">
                                    <a style="text-decoration:none;color:#fff;" href="{% url 'update_project_planner_request' pk=data.0.request_id %}"><i class="fas fa-edit"></i>&nbsp;Edit</a></button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="{% static 'capacity_app/table_extensions/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/vendor/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/bootstrap-table.min.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/bootstrap-table.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/tableExport.min.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/extensions/toolbar/bootstrap-table-toolbar.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/extensions/toolbar/bootstrap-table-toolbar.min.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/extensions/export/bootstrap-table-export.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/extensions/export/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'capacity_app/table_extensions/assets/extensions/filter-control/bootstrap-table-filter-control.min.js' %}"></script>

<script src="{% static 'capacity_app/table_extensions/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src=" {% static 'capacity_app/table_extensions/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script>
    $('#example').bootstrapTable({
    exportOptions: {
        fileName: 'Project View'
    }
});
</script>

</body>
{% endblock content %}
</head>
</html>